#ScrollBlock {
    margin: 0 auto; /* чтобы было по центру */
    height: 400px;
    width: 400px;
    overflow: auto;
    overflow-x: hidden; /* для IE */
    background: olive;
}

#ScrollBlock {
    margin: 0 auto; /* чтобы было по центру */
    height: 400px;
    width: 400px;
    overflow: auto;
    overflow-x: hidden; /* для IE */
    background: olive;
}

#sort {
    border-left-width: 600px;
    border-top-width: 0;
    height: 110px;
    margin: -260px 0 1px 700px;
    width: 250px;
}

#text1 {
    margin-left: 396px;
    width: 200px;
}

#text2 {
    margin-top: 170px;
    margin-left: 396px;
    width: 200px;
}