#ScrollBlock {
    margin: 0 auto;
    height: 400px;
    width: 420px;
    overflow: auto;
    overflow-x: hidden;
    background: olive;
}

#sort {
    height: 16%;
    margin: -30% 0 1% 800px;
    width: 18%;
}

#text1 {
    margin-left: 40%;
    width: 28%;
    overflow: auto;
    overflow-x: hidden;
}

#text2 {
    margin-top: 20%;
    margin-left: 40%;
    width: 28%;
    overflow: auto;
    overflow-x: hidden;
}