<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <welcome-file-list>
        <welcome-file>IndexController</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.codenvy.simulator.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RunController</servlet-name>
        <servlet-class>com.codenvy.simulator.servlet.RunServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RunController</servlet-name>
        <url-pattern>/run</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
</web-app>